doctype html
html
  head
    title Stock Portfolio Tracker
    meta(charset="utf-8")
    link(rel="stylesheet", href="assets/vendor/bootstrap-3.3.7/bootstrap.min.css")
  body
    block body
    block foo

    script(src="assets/vendor/bootstrap-3.3.7/jquery.min.js")
    script(src="assets/vendor/bootstrap-3.3.7/bootstrap.min.js")
    //- script.
      alert("hello world")

