doctype html
html
  head
    title Stock Portfolio Tracker
    link(rel="stylesheet", href="assets/vendor/bootstrap-3.3.7/bootstrap.min.css")
  body
    block my_content
    // Some script
    script.
      alert("helo")

