extends base

block dummy
  button(onclick="javascript:alert('you go')") yay
  nav.navbar.navbar-default
    .container
      .navbar-header
        a.navbar-brand Website Name
      ul.navbar-nav.nav
        li.active
          a page 1
        li
          a page 2
        li
          a page 3
  .container
    h3 Look a menu
    p i am a big blahaja laragraoh lloook at me i can flyyyy
  .navbar.navbar-inverse
    .container
      ul.nav.navbar-nav
        li 
          a hey
        li 
          a hey
        li 
          a hey
