extends mixins.jade


block body
  style.
    .swiper-container {
        width: 55%;
        xheight: 50%;
        border: solid orange 2px;
      }
    .swiper-slide {
      xtext-align: center;
      font-size: 18px;
      background: #ccf;

      /* Center slide text vertically */
      display: flex;
      xjustify-content: center;
      align-items: center;
    }
  +alert("info") hre
  +link("cars", "yahoo")
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        pre.
          gdhh
          gffhfgh
          gjjm

      .swiper-slide slide2
