mixin link(url, text)
  a(href=url)= text

//- Alert mixin
mixin alert(style)
  div( class=["alert", "alert-dismissable", "alert-" + style] )
    button.close( type="button", data-dismiss="alert" ) ×
    block

mixin article(title)
  .article
    .article-wrapper
      h1= title

extends base.jade

